*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
  }
  
  body {
    background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;
    margin: 0;
    padding: 0; */
    margin: 10%;
  }
  
  .container {
    max-width: 50%;
    max-width: 1200px;
    
    background-color: white;
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
    /* position: relative; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .header {
    background-color: #222;
    height: 3rem;
    /* display: flex;
    justify-content: center;
    align-items: flex-end;*/
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;  
  }  

  .content {
     padding: 40px;
     padding-top: 0.5rem;
   /* margin-top: 3rem; */
  }
  .general-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
  }

  .status {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .location {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1rem;
  }

  .detail-section {
    display: flex;
    justify-content: space-between;
    
    /* margin-top: 40px; */
  }
  
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-basis: 0;
    flex-grow: 1; */
    padding: 20px;
  }
  

  /* .detail.bordered {
    border-left: 1px solid #777;
    border-right: 1px solid #777;
  } */

  .detail .title {
    font-size: 1.5rem;
    /* flex-grow: 1; */
    font-weight: bold;
    color: #777;
  }
  
  .detail .value {
    font-size: 1rem;
    /* margin-top: 20px; */
  }

  .city-search {
    /* margin-top: 40px; */
     font-size: 1rem;
    /* outline: none; */
     border: 1px solid #777; 
    border-radius: 3px; 
    /* padding: 10px 15px; */
    width: 70%;
  }

  .btn{
    font-size: 1rem;
    cursor: pointer;
  }

  